extends layout

block content
  ul(class="collapsible popout", data-collapsible="accordion")
    li
      div(class=isdone[0] ? "green collapsible-header": "collapsible-header")
        if isdone[0]
          i(class="material-icons prefix") done
        else
          i(class="material-icons prefix") library_books
        | 1. Dew
      .collapsible-body.question
        p SSH and run 'dew' executable in 1.
        if isdone[3]
          .done
          p Solved
        else
          div(class="row")
            form(lass="col s12", action='/signup', method='POST')
              div(class="row")
                div(class="input-field col s4")
                  i(class="material-icons prefix") flag
                  input(id="icon_prefix", type="text", class="validate")
                  label(for="icon_prefix") Flag
                div(class="input-field col s6")
                  button(class="btn waves-effect waves-light", type="submit", name="submit")
                    | Submit
                    i(class="material-icons right") send