doctype html
html
  head
    title= title
    link(rel='stylesheet', href='stylesheets/icon.css')
    link(type='text/css', rel='stylesheet', href='stylesheets/materialize.min.css', media='screen,projection')
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    script(type="text/javascript", src="javascripts/jquery-2.1.1.min.js")
    script(type="text/javascript", src="javascripts/materialize.min.js")
  body
    block content